[Desktop Entry]
Type=Application
Name=No Lidar
Comment=Lance le système ROS 2 avec GUI

Exec=/home/modelec/Modelec-ROS2/start_ros2.sh with_joy:=false with_rplidar:=false

Icon=utilities-terminal
Terminal=true
Categories=Utility;
