KERNEL=="tty*", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="208339A24134", MODE:="0777", SYMLINK+="USB_ODO"
KERNEL=="tty*", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="208339A04134", MODE:="0777", SYMLINK+="USB_ACTION"
