[Desktop Entry]
Type=Application
Name=Cam
Comment=Cam
Exec=/home/modelec/Modelec-ROS2/start_cam_ros2.sh
Icon=utilities-terminal
Terminal=true
Categories=Utility;
