[Desktop Entry]
Type=Application
Name=Joy
Comment=Lance le système ROS 2 avec GUI
Exec=/home/modelec/Modelec-ROS2/start_ros2.sh with_rplidar:=false with_gui:=false
Icon=utilities-terminal
Terminal=true
Categories=Utility;
